@font-face {
    font-family: 'Noway';
    src: url('../assets/fonts/Noway-Italic.woff2') format('woff2'),
        url('../assets/fonts/Noway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noway';
    src: url('../assets/fonts/Noway.woff2') format('woff2'),
        url('../assets/fonts/Noway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  overflow: hidden;
  font-family: 'Noway', 'sans-serif';
  margin: 0;
}

h1, h2, h3, h4, a, button {
  font-family: 'Noway', 'sans-serif';
  text-decoration: none;
  line-height: 1.1;
}

.content {
  position: relative;
}

.home_btns a {
  position: absolute;
  width: 100%;
  height: 221px;
}

.div_photobooth {
  top: 338px;
}
    
.div_honoree {
  top: 577px;
}

.div_sponsors {
  top: 816px;
}
    
.div_donate {
  top: 1055px;
}
    
.div_floorplan {
  top: 1294px;
}
    
.white {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.header {
  position: fixed;
  border-bottom: 5px solid black;
  z-index: 200;
}

.back {
  background-size: contain;
  background-image: url('../assets/img/back.jpg');
  background-repeat: repeat-y;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}

.full_img, .honorees {
  position: absolute;
  top: 0;
  z-index: 300;
  width: 100%;
}

.full_img {
  top: 99px;
}

.honorees {
  z-index: 1;
  background-color: black;
}

.honorees .honoree {
  height: 1920px;
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}

.honorees .img {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.honoree .dark {
  background: linear-gradient(transparent 30%, rgba(0, 0, 0, 0.90) 100%);
  position: absolute;
  height: 1800px;
  z-index: 2;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 100px;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.honoree .dark p {
  color: white;
  font-size: 70px;
  margin: 0;
  display: inline-block;
}

.honoree .info {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  margin-left: 50px;
  font-size: 50px;
  font-family: 'serif';
  position: relative;
  top: -7px;
}

.honorees .arrs {
  position: absolute;
  top: 950px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 5;
}

.honorees .arrs img {
  filter: brightness(0) invert(1);
  height: 80px;
  padding: 40px;
}

.honorees .arrs img.left {
  transform: rotate(180deg);
}

.honoree .bio {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  height: 100%;
  color: white;
  padding: 75px;
  z-index: 6;
  font-size: 32px;
  line-height: 1.3;
}

.honoree .close {
  text-align: center;
  display: inline-block;
  margin: auto;
  border: 1px solid white;
  border-radius: 100%;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  margin-bottom: 100px;
}

.floorplan {
  position: absolute;
  z-index: 500;
}

.floorplan img {
  width: 100%;
}

.floorplan svg {
  width: 100%;
  position: absolute;
  top: 0;
}

.info {
  display: none;
  background: white;
  padding: 30px;
  font-size: 30px;
  color: black;
  position: absolute;
  z-index: 10001;
  width: 400px;
  border: 2px solid #62466d;
  box-sizing: border-box;
}

.info p {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}

.info p#desc {
  border-top: 2px solid #0cca83;
  margin-top: 10px;
  padding-top: 30px;
  font-size: 17px;
}

.info p#desc span {
  display: block;
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}

.info p#desc span:before {
  content: "-";
  color: #0cca83;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.info.right {
  margin-left: -400px;
}

.go_home {
  position: absolute;
  z-index: 999;top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('../assets/img/back.jpg');
}

.go_home img {
  width: 75px;
}

.donate .honoree {
  display: block;
}

.donate .honoree .dark {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.donate_input, .donate_input input {
  width: 100%;
  box-sizing: border-box;
}

.donate_input {
  margin-top: 100px;
}

.donate_input input {
  padding: 32px;
  font-size: 33px;
}

#share_alert {
  display: none;
  position: fixed;
  bottom: 0;
  height: 1920px;
  width: 100%;
  background-image: url('../assets/img/thanks.png') !important;  
  background-size: cover;
  z-index: 9999999;
}

.donate_submit {
  background: #604373;
  color: white;
  border: none;
  outline: none;
  margin-top: 40px;
  font-size: 35px !important;
  font-family: 'Noway', 'sans-serif';
  margin-bottom: 200px;
}

.home_btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.home_btn img {
  height: 50px;
  filter: brightness(0) invert(1);
}





